section#home #chat-windows {
    position: fixed;
    right: 260px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}

section#home .chat-window {
    display: block;
    position: relative;
    box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 382px;
    background-color: #435259;
    z-index: 4;
    color: #1ab188;
    border: 1px solid #1ab188;
    border-bottom: none;
    margin-left: 10px;
}

section#home .chat-header {
    display: block;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: #24323d;
    position: relative;
    line-height: 40px;
}

section#home .chat-header-info {
    display: flex;
    flex-direction: row;
}

section#home .chat-image {
    width: 40px;
    height: 40px;
    background-image: url(../img/person_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}

section#home .chat-body-outer {
    overflow-y: scroll;
    height: 292px;
    position: relative;
}

section#home .chat-body {
    font-size: 14px;
    padding: 0px 10px;
    margin: 1px 0px;
    position: relative;
}

section#home .chat-body .chat-block {
    position: relative;
    margin-bottom: 10px;
    /*margin-top: 25px;*/
    display: flex;
}

section#home .chat-body .chat-block:first-child {
    margin-top: 10px;
}

section#home .chat-body .chat-block.own {
    margin-top: 10px;
    justify-content: flex-end;
}

section#home .chat-block .message-container {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9);
    position: relative;
    max-width: 70%;
    background-color: #24323d;
    color: #1ab188;
    overflow-x: hidden;
    padding: 10px;
    min-width: 50px;
}

section#home .chat-block.own .message-container {
    background-color: #1ab188;
    color: #24323d;
}


/*
section#home .chat-block .chat-pointer {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 28px 26px;
    border-color: transparent transparent #24323d transparent;
    position: absolute;
    left: 0px;
    top: -11px;
    transform: rotate(-56deg);
}

section#home .chat-block.own .chat-pointer {
    display: none;
}
*/

section#home .chat-form {
    display: flex;
    flex-direction: row;
    height: 50px;
}

section#home .chat-new-msg {
    width: 77%;
    font-size: 14px;
}

section#home .chat-form .btn-send-msg {
    width: 23%;
}

section#home .btn-chat-close {
    position: absolute;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    color: #24323d;
    background-color: #1ab188;
    right: 0px;
    top: 0px;
}

section#home .btn-chat-close:hover {
    background-color: #e3242b;
}

section#home .chat-body-outer::-webkit-scrollbar-track {
    background: #435259;
}

section#home .chat-body-outer::-webkit-scrollbar-thumb {
    background: #24323d;
}

section#home .chat-body-outer::-webkit-scrollbar-thumb:hover {
    background: #1ab188;
}