section#home .sidebar{
    width: 300px;
    height: 100%;
    position: fixed;
    background-color:#24323d;
    top:0px;
    z-index: 2;
}

section#home .content {
    height: 2000px;
    padding: 70px 350px;
    background-color: #435259;
}

.section-minor{
    position: relative;
}