body{
    position: relative;
    padding:0px;
    margin:0px;
    font-family: "Consolas";
    font-size: 15px;
    background-color: #435259;
}

section {
    display: none;
}

.active{
    display: block !important;
}

.clearfix{
    clear: both;
    float: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c0bdba;
    opacity: 0.28; /* Firefox */
    font-style: italic;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c0bdba;
    opacity: 0.28;
    font-style: italic;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #c0bdba;
    opacity: 0.28;
    font-style: italic;
}

input:focus{
    outline:none;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #1ab188;
    width: 150px;
    height: 150px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#startup-loader{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background-color: #fff;  
}

#startup-loader .loader{
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right: 0px;
    margin:auto;
    z-index: 11;
}

#main-popup {
    display: none;
}

#main-popup #popup-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: #435259;
    opacity: 75%;
}

#main-popup #popup-container{
    position:fixed;
    margin:auto;
    top:0px;
    bottom:0px;
    left:0px;
    right: 0px;
    width: 450px;
    height: 240px;
    background-color:#24323d;
    z-index:9;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9);
}

#main-popup #popup-exit{
    position:absolute;
    top:0px;
    right:0px;
    width: 65px;
    line-height: 45px;
    height: 50px;
    font-size: 40px;
    background-color: #1ab188;
    color:#24323d;
    text-align: center;
    cursor:pointer;
}

#main-popup #popup-exit:hover{
    background-color: #e3242b;
}

#main-popup #popup-msg {
    font-size:22px;
    color:#1ab188;
    text-align: center;
    position:absolute;
    margin:auto;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    height: 50px;
    line-height: 50px;
}