section#home .sidebar.right {
    box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.3);
    right: 0px;
    font-size: 16px;
    color: #1ab188;
}

section#home #user-nutshell {
    padding-top: 50px;
}

section#home #mini-panel {
    margin: auto;
    width: 140px;
    height: 140px;
    background-color: #24323d;
    background-image: url("../img/person_icon.png");
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #1ab188;
    margin-bottom: 20px;
}

section#home #mini-info {
    text-align: center;
    color: #1ab188;
}

section#home #btn-logout {
    width: 100px;
    line-height: 40px;
    margin: auto;
    font-size: 18px;
    margin-top: 20px;
}

section#home #chat-openers-wrapper h3 {
    margin: 20px 5px 2px 5px;
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #1ab188;
}

section#home #chat-openers {
    overflow-y: scroll;
}

section#home .chat-opener {
    padding: 5px;
    position: relative;
}

section#home .chat-opener:hover {
    background-color: #435259;
}

section#home #chat-openers .mini-image-container {
    background-image: url(../img/person_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border: 1px solid #1ab188;
    float: left;
}

section#home #chat-openers .chat-info {
    float: left;
    margin-left: 10px;
    font-size: 13px;
    width: 72%;
    text-align: center;
}

section#home #chat-openers .mini-fullname {
    height: 17px;
    margin-bottom: 8px;
    overflow: hidden;
}

section#home #chat-openers .action-tab {
    width: 100%;
    height: 25px;
}

section#home .chat-opener-btn:first-child {
    margin-right: 4%;
}

section#home .chat-opener-btn {
    float: left;
    width: 48%;
    font-size: 13px;
    line-height: 25px;
    text-decoration: none;
}